* {
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #3b3b3b;
  color: #fff;
}

h1, h2 {
  width: fit-content;
  margin: 15px 0px 10px 20px;
}

p {
  font-size: 12px;
  margin-left: 50px;
  color: #BABABB;
}

hr {
  width: 95%;
  margin: 0 auto;
}

button {
  height: 35px;
  border-radius: 5px;

  margin-right: 20px;

  background-color: #222222;
  color: #fff;
  border: none;
  outline: none;
}

#container {
  width: 600px;
  margin: 0 auto;
}

.addTaskArea, .task{
  width: 550px;
  height: 50px;

  border-radius: 6px;

  margin: 15px auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color:#2f2f2f;
}

.task {
  margin: 5px auto;
}

#newTaskInput {
  width: 430px;

  background-color: transparent;
  border: none;

  color: #fff;

  margin-left: 15px;
}

#newTaskInput:focus {
  outline:none;
}

.task span {
  margin-left: 15px;
  font-size: 14px;
}

.task button {
  width: 35px;
  padding: 1px 5px;
  margin: auto 5px auto auto;
}

#deleteTaskButton {
  background-color: #555555;
}

#completeTaskButton {
  background-color: #77dd77;
}

#undoTaskButton {
  background-color: #779ecb;
}